<div id="invitation">
    <div class="thumbnail-border">
        <div class="thumbnail">
            <% if @invitation.blank? %>
                <p>Invitation cannot be found</p>
            <% else %>
                <p>To <%= @invitation[:name] %></p>

                <p>Amy Panyanouvong and Kevin May would like to welcome you to attend their wedding on Sunday 8th August
                    at Green Gables Wedding Estate</p>

                <form id="invitation-form">
                    <p>Please select who will be attending and then click submit.</p>

                    <input type="hidden" id="invitation-id" value="<%= @invitation[:id] %>" />
                    <% @invitation[:invitees].each do |invitee| %>
                        <div class="checkbox">
                            <label>
                                <input type='hidden' value='<%= invitee[:id] %>' name="invitees[][id]" />
                                <input name="invitees[][accepted]" type="checkbox" value="true"><%= invitee[:name] %></input>
                            </label>
                        </div>
                    <% end %>

                    <button id="invitation-submit" type="submit" class="btn btn-default">Submit</button>
                </form>
            <% end %>
        </div>
    </div>
</div>