<div id="rsvp">
    <div class="thumbnail-border">
        <div class="thumbnail">
            <% if @invitees.blank? %>
                <p>Invitation cannot be found.</p>
            <% else %>
                <p>Thank you for responding.</p>

                <% if @invitees.count > 1 %>
                    <p>We look forward to seeing <%= @invitees[0..-2].join(', ') %> and <%= @invitees.last %> at the wedding.</p>
                <% else %>
                    <p>We look forward to seeing <%= @invitees.first %> at the wedding.</p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>