<div id="emma">
    <div>
        <div class="thumbnail-border">
            <div class="thumbnail">
                <p class="left">
                    On the 5th of July 2015 we were blessed with the arrival of
                    our beautiful, healthy baby girl
                </p>
                <p class="name left">Emma Kylie May</p>

                <p class="left">
                    She has brought so much joy to our lives and while it has been
                    tough, there has not been a moment where we don't love her
                    with all our heart.
                </p>

                <p class="left">
                    She has made our relationship stronger than ever and we
                    now know we can take on any challenge together as a team.
                </p>
            </div>
            <div id="mainCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mainCarousel" data-slide-to="1"></li>
                    <li data-target="#mainCarousel" data-slide-to="2"></li>
                    <li data-target="#mainCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag 'carousel/torrey-pines.jpg' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/torrey-pines.jpg' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/torrey-pines.jpg' %>
                    </div>

                    <div class="item">
                        <%= image_tag 'carousel/torrey-pines.jpg' %>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
