<div id="location">
    <div class="thumbnail-border">
        <div class="thumbnail">
            <p>Our wedding will be held at Green Gables Wedding Estate on Sunday August 7, 2016.</p>
            <p>
                134 Woodland Parkway
                <br>
                San Marcos
                <br>
                CA 92069
            </p>
            <p><a href="http://greengablesestate.com" target="_blank">http://greengablesestate.com</a></p>
            <hr>
            <iframe src="https://www.google.com/maps/embed/v1/view?zoom=16&center=33.1412%2C-117.1404&key=AIzaSyAuHW1d-M01bWep8ARTLp2cRIa9UoqmxT8" allowfullscreen></iframe>
        </div>
    </div>
</div>