<div id="blog">
    <% @blogs.each do |blog| %>
        <div class="thumbnail-border">
            <div class="thumbnail">
                <p><%= blog.date %></p>
                <p><%= blog.entry %></p>
            </div>
        </div>
    <% end %>
</div>