// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";

@font-face {
    font-family: "Alex Brush";
    src: url("AlexBrush-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Monterey";
    src: url("MontereyFLF.ttf") format("truetype");
}

html, body {
    min-height: 700px;
    height: 100%;
}

.navbar {
    width: 100%;
    background-color: black;
    opacity: 0.6;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Monterey";
    font-size: 16px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.navbar-default {
    .navbar-brand, .navbar-brand:visited, .navbar-brand:focus {
        font-family: "Alex Brush";
        font-size: 32px;
        color: white;
        padding: 18px 15px 5px 15px;
    }

    .navbar-brand:hover {
        color: #ABDDC6;
    }

    .navbar-nav {
        li {
            a, a:visited, a:focus {
                color: white;
            }

            a:hover {
                color: #ABDDC6;
                text-decoration: underline;
            }
        }
    }
}
