// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "main";

@font-face {
    font-family: "Alex Brush";
    src: url("AlexBrush-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Monterey";
    src: url("MontereyFLF.ttf") format("truetype");
}

@media (min-width: 768px) {
    .navbar-nav {
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar {
    background-color: black;
    opacity: 0.6;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Monterey";
    font-size: 16px;
}

.navbar-default {
    .navbar-brand, .navbar-brand:visited, .navbar-brand:focus {
        @media (min-width: 768px) {
            display: none;
        }

        font-family: "Alex Brush";
        font-size: 32px;
        color: white;
        padding: 18px 15px 5px 15px;
    }

    .navbar-brand:hover {
        color: #ABDDC6;
    }

    .navbar-nav {
        li {
            a, a:visited, a:focus {
                color: white;
            }

            a:hover {
                color: #ABDDC6;
                text-decoration: underline;
            }
        }

        #home {
            @media (max-width: 768px) {
                display: none;
            }

            font-family: "Alex Brush";
            font-size: 32px;
            padding: 18px 15px 5px 15px;
            text-decoration: none;
        }
    }
}
