#invitation {
    p {
        text-align: left;
    }

    form {
        text-align: left;
        padding-top: 15px;
    }

    .thumbnail-border {
        width: 50%;
    }

    .thumbnail {
        padding: 15px;
    }
}