#rsvp {
    p {
        text-align: left;
    }

    form {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .thumbnail-border {
        width: 50%;
    }

    .thumbnail {
        padding: 15px;
    }

    .email {
        width: 300px;
    }
}