<div id="registry">
    <div class="thumbnail-border">
        <div class="thumbnail">
            <p>
                As most of you are aware, Amy and I have been thrown into the deep end with the bundle of joy that has
                blessed our lives.  Due to the arrival of Emma we already have everything we need for the home.
            </p>
            <p>
                Due to this we have decided to use Honeyfund as our registry.  Your presence at our wedding is your gift
                to us but if you would like to help us with various aspects of our honeymoon, from flights to beer then
                please click on the link below and choose to give us a gift.
            </p>
            <p>
                You can trust this site 100%, but if you do not feel comfortable paying for a gift with a credit/debit
                card then you can still select an item and choose to send us a check or give us cash at the wedding.
            </p>
            <p>
                Thank you for your kindness and we look forward to seeing you on our special day.
            </p>
            <div style="width:200px;margin:0 auto;">
                <a href="http://www.honeyfund.com/wedding/MayWedding" style="text-align:left;background:url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;display:block;width:200px;height:100px;text-indent:-9999em;" target="_blank">Visit our honeyfund at Honeyfund.com, the free honeymoon registry</a>
            </div>
        </div>
    </div>
</div>

