<!DOCTYPE html>
<html>
<head>
  <title>Forever</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home" class="navbar-brand" href="#">Amy &amp;Kevin</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a id="home" href="#">Amy &amp; Kevin</a></li>
                    <li><a id="event-info" href="#">EVENT INFO</a></li>
                    <li><a id="our-story" href="#">OUR STORY</a></li>
                    <li><a id="pictures" href="#">PICTURES</a></li>
                    <li><a id="emma" href="#">EMMA</a></li>
                    <li><a id="rsvp" href="#">R.S.V.P</a></li>
                    <li><a id="registry" href="#">REGISTRY</a></li>
                </ul>
            </div>
        </nav>

    </div>

    <%= yield %>
</body>
</html>
